Job Hunting Agent.json
{
  "name": "Job Hunting Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        160
      ],
      "id": "32ac7661-25eb-4d8d-8c44-2a55e00b9f33",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=02da492a&app_key=48804dae7b4c118e4143ee77e00c5023&what=cybersecurity&where=New+Jersey&distance=15&results_per_page=20&sort_by=date",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "ce7cb431-d278-4271-9cf0-1bb3480824c1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a job matching assistant for Krishna Modi, a Computer Science and Cybersecurity student graduating June 2026, based in New Jersey, USA (Permanent Resident).\n\nHere is the job data from Adzuna:\n{{ JSON.stringify($json.results) }}\n\nKrishna's profile:\n- Targeting: Entry level cybersecurity, IT helpdesk, IT support, SOC Analyst roles\n- Location: Within 25 miles of Colonia, New Jersey\n- Experience: Rio Tinto IS&T internship (NGINX, SSL/TLS, OT security), Telstra customer service, cybersecurity hackathon runner-up\n- Skills: Python, networking fundamentals, Linux basics, NGINX, SSL/TLS\n- Certifications in progress: Splunk, CompTIA A+, Security+\n\nYour task:\n1. Review each job listing\n2. Score it from 1-10 based on fit with Krishna's profile\n3. Return the TOP 5 jobs only in this format:\n\nJob 1:\n- Title:\n- Company:\n- Location:\n- Score: X/10\n- Why it fits:\n- Apply link:\n\nOnly return jobs scoring 6 or above. Be honest — don't recommend poor fits.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        160
      ],
      "id": "82239758-bece-42ed-b36e-f58079912a2b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        720,
        352
      ],
      "id": "24ffdfc6-6b7b-4ffe-904f-cbd029c55b14",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "hzqIDv5IIAAakooG",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=02da492a&app_key=48804dae7b4c118e4143ee77e00c5023&what=IT+helpdesk+entry+level&where=New+Jersey&distance=25&results_per_page=20&sort_by=date",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        160
      ],
      "id": "aef2be09-baaa-4b0e-bb9c-d7f4a2651d96",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=02da492a&app_key=48804dae7b4c118e4143ee77e00c5023&what=IT+support+entry+level&where=New+Jersey&distance=25&results_per_page=20&sort_by=date",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        336
      ],
      "id": "de6dc68e-f91a-48b5-96bb-8f52e8b5ca1f",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "3230c145-c972-80fd-9799-cf9fe73f0c2b",
          "mode": "list",
          "cachedResultName": "Job Leads",
          "cachedResultUrl": "https://www.notion.so/3230c145c97280fd9799cf9fe73f0c2b"
        },
        "title": "=Job Leads - {{ $today.toFormat('yyyy-MM-dd') }}",
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $('AI Agent').item.json.output.slice(0, 1900) }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1056,
        160
      ],
      "id": "37a59bb3-6df4-41a8-8206-f1caeb62c2f8",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "BxiCvRQBpyscQElm",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "coinsdontpayrent@gmail.com",
        "subject": "=Daily Job Leads🔥 - {{ $today.toFormat('yyyy-MM-dd') }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1296,
        160
      ],
      "id": "b1062c4f-ae2f-47b6-bae8-d7edbc725fa4",
      "name": "Send a message",
      "webhookId": "5e6861cd-1c7f-4f6b-86bc-394121014a26",
      "credentials": {
        "gmailOAuth2": {
          "id": "jUYdSUXX3jMOZXss",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        144
      ],
      "id": "51d29b2c-8054-4f85-b3c1-97ed8c9a3e46",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "530aec93-ee2a-4fb8-a973-e381e905aade",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af5405872b3ea1bb0ecae5d144546d56a894e3326afbc8f194bf0383bffc1fc5"
  },
  "id": "1pc3x6sqeg3kdVtr",
  "tags": []
}